export PATH=$HOME/bin:$PATH
export PATH=$HOME/.local/bin:$PATH

# add yarn globally installed packages to path
export PATH="$PATH:$(yarn global bin)"

export WALLPAPERS_DIR=~/wallpapers
export EDITOR='vim'

