snippet ok "ok tuple"
	{:ok, $1}

snippet oke "ok equal"
	{:ok, $1} = $2

snippet err "error tuple"
	{:error, $1}

snippet erre "error equal"
	{:error, $1} = $2

snippet ht
	[${2:head} | ${3:tail}] = $1
